<a href="https://colab.research.google.com/github/dogee4803/db_course/blob/main/Kalenitskii_Mid_term_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the sqlite3 library
import sqlite3

# Step 1: Connect to SQLite Database
conn = sqlite3.connect('ITScompany_database.db')
print("Opened database successfully")

Opened database successfully

In [2]:
# Step 2: Create Company Tables
conn.execute('''
CREATE TABLE IF NOT EXISTS Vehicles
(Vehicle_id INT PRIMARY KEY NOT NULL,
Registration_id TEXT NOT NULL,
Manufacturer TEXT NOT NULL,
Model TEXT NOT NULL,
Color TEXT NOT NULL,
Odometer INT NOT NULL,
Passanger_capacity INT NOT NULL,
Availability BOOL NOT NULL);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Languages
(Language_id INT PRIMARY KEY NOT NULL,
Language_code TEXT NOT NULL);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Countries
(Country_id INT PRIMARY KEY NOT NULL,
Country_name TEXT NOT NULL,
Language_id INT NOT NULL,
FOREIGN KEY (Language_id) REFERENCES Languages(Language_id));''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Maintenance
(Action_id INT PRIMARY KEY NOT NULL,
Action_type TEXT NOT NULL,
Cost REAL NOT NULL,
Description TEXT,
Date DATE,
Vehicle_id INT NOT NULL,
FOREIGN KEY (Vehicle_id) REFERENCES Vehicles(Vehicle_id));''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Locations
(Location_id INT PRIMARY KEY NOT NULL,
Name TEXT NOT NULL,
City TEXT NOT NULL,
Street_number TEXT NOT NULL,
Type TEXT NOT NULL);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Booking
(Booking_id INT PRIMARY KEY NOT NULL,
Ref_number INT NOT NULL,
Start_trip DATE,
End_trip DATE,
Start_odometer INT,
End_odometer INT,
Location_pickup INT NOT NULL,
Location_dropoff INT NOT NULL,
FOREIGN KEY (Location_pickup) REFERENCES Locations(Locations_id),
FOREIGN KEY (Location_dropoff) REFERENCES Locations(Locations_id));''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Officials
(Official_id INT PRIMARY KEY NOT NULL,
Name TEXT NOT NULL,
Role TEXT NOT NULL,
Country_id INT NOT NULL,
Language_id INT NOT NULL,
FOREIGN KEY (Country_id) REFERENCES Countries(Country_id),
FOREIGN KEY (Language_id) REFERENCES Languages(Language_id));''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Drivers
(Driver_id INT PRIMARY KEY NOT NULL,
Name TEXT NOT NULL,
License_number BIGINT NOT NULL,
Clearance_level INT NOT NULL,
FATL_level INT,
FATL_date DATEONLY,
STLVT_level INT,
STVLT_date DATEONLY,
Certifying_auth TEXT,
Language_id INT NOT NULL,
FOREIGN KEY (Language_id) REFERENCES Languages(Language_id));''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Booking_info
(Info_id INT NOT NULL,
Driver_id INT NOT NULL,
Vehicle_id INT NOT NULL,
Official_id INT NOT NULL,
FOREIGN KEY (Info_id) REFERENCES Booking(Booking_id),

FOREIGN KEY (Info_id) REFERENCES Booking(Booking_id),
FOREIGN KEY (Official_id) REFERENCES Officials(Official_id),
FOREIGN KEY (Driver_id) REFERENCES Drivers(Driver_id),
FOREIGN KEY (Vehicle_id) REFERENCES Vehicles(Vehicle_id));''')

print("Tables created successfully")

Tables created successfully

In [3]:
# Step 3: Insert data


# Filling Table Vehicles
conn.execute('''
INSERT INTO Vehicles (Vehicle_id, Registration_id, Manufacturer, Model, Color, Odometer, Passanger_capacity, Availability)
VALUES (1, 'ABC123', 'Toyota', 'Camry', 'Red', 50000, 5, 1),
       (2, 'DEF456', 'Honda', 'Accord', 'Blue', 60000, 4, 1),
       (3, 'GHI789', 'Ford', 'Mustang', 'Yellow', 40000, 2, 0);''')

# Filling Table Languages
conn.execute('''
INSERT INTO Languages (Language_id, Language_code)
VALUES (1, 'EN'),
       (2, 'FR'),
       (3, 'DE'),
       (4, 'KR');''')

# Filling Table Countries
conn.execute('''
INSERT INTO Countries (Country_id, Country_name, Language_id)
VALUES (1, 'USA', 1),
       (2, 'France', 2),
       (3, 'Germany', 3),
       (4, 'Korea', 4);''')

# Filling Table Maintenance
conn.execute('''
INSERT INTO Maintenance (Action_id, Action_type, Cost, Description, Date, Vehicle_id)
VALUES (1, 'Oil Change', 50.00, 'Performed regular oil change', '2023-10-10', 1),
       (2, 'Tire Rotation', 30.00, 'Rotated tires for even wear', '2023-09-15', 2),
       (3, 'Brake Inspection', 20.30, 'Inspected brake system for wear', '2023-10-05', 3);''')

# Filling Table Locations
conn.execute('''
INSERT INTO Locations (Location_id, Name, City, Street_number, Type)
VALUES (1, 'Airport', 'New York', '123 Main St', 'Airport'),
       (2, 'Downtown', 'Paris', '456 Rue de la Ville', 'City'),
       (3, 'Train Station', 'Berlin', '789 Bahnhofstraße', 'Train Station');''')

# Filling Table Booking
conn.execute('''
INSERT INTO Booking (Booking_id, Ref_number, Start_trip, End_trip, Start_odometer, End_odometer, Location_pickup, Location_dropoff)
VALUES (1, 123456, '2023-10-20', '2023-10-25', 50000, 55000, 1, 2),
       (2, 789012, '2023-11-01', '2023-11-05', 60000, 65000, 2, 3),
       (3, 345678, '2023-10-15', '2023-10-18', 40000, 42000, 3, 1);''')

# Filling Table Officials
conn.execute('''
INSERT INTO Officials (Official_id, Name, Role, Country_id, Language_id)
VALUES (1, 'John Smith', 'Manager', 1, 1),
       (2, 'Jean Dupont', 'Supervisor', 2, 2),
       (3, 'Hans Müller', 'Coordinator', 3, 3),
       (4, 'Kim Tang', 'Manager', 4, 4);''')

# Filling Table Drivers
conn.execute('''
INSERT INTO Drivers (Driver_id, Name, License_number, Clearance_level, FATL_level, FATL_date, STLVT_level, STVLT_date, Certifying_auth, Language_id)
VALUES (1, 'Michael Johnson', 1234567890, 3, 2, '2023-09-01', 1, '2023-08-15', 'DMV', 1),
       (2, 'Pierre Leclerc', 9876543210, 2, 1, '2023-07-01', 2, '2023-06-15', 'Prefecture', 2),
       (3, 'Klaus Schmidt', 5678901234, 1, NULL, NULL, 3, '2023-05-15', 'Kraftfahrt-Bundesamt', 3);''')

# Filling Table Booking_info
conn.execute('''
INSERT INTO Booking_info (Info_id, Driver_id, Vehicle_id, Official_id)
SELECT b.Booking_id, d.Driver_id, v.Vehicle_id, o.Official_id
FROM Booking b
JOIN Drivers d
JOIN Vehicles v
JOIN Officials o
WHERE v.Availability = 1 AND d.Language_id = o.Language_id;''')

# Deleting records from Booking, that don't have same records in Booking_info
conn.execute('''
DELETE FROM Booking
WHERE Booking_id NOT IN (
    SELECT Info_id
    FROM Booking_info
);''')

# Deleting records from Booking_info, that don't have same records in Booking
conn.execute('''
DELETE FROM Booking_info
WHERE Info_id NOT IN (
    SELECT Booking_id
    FROM Booking
);''')

print("Tables filled successfully")

Tables filled successfully

In [7]:
# Step 4: Extracting data from tables

# Extract data from Vehicles
cursor = conn.execute("SELECT Vehicle_id, Registration_id, Manufacturer, Model, Color, Odometer, Passanger_capacity, Availability from Vehicles")
print("\t<<<<<Vehicles>>>>>")
for row in cursor:
    print("Vehicle_id = ", row[0])
    print("Registration_id = ", row[1])
    print("Manufacturer = ", row[2])
    print("Model = ", row[3])
    print("Color = ", row[4])
    print("Odometer = ", row[5])
    print("Passanger_capacity = ", row[6])
    print("Availability = ", row[7])
print("-------------------------------------------\n")

# Extract data from Languages
cursor = conn.execute("SELECT Language_id, Language_code from Languages")
print("\t<<<<<Languages>>>>>")
for row in cursor:
  print("Language_id = ", row[0])
  print("Language_code = ", row[1])
print("-------------------------------------------\n")

# Extract data from Countries
cursor = conn.execute("SELECT Country_id, Country_name, Language_id from Countries")
print("\t<<<<<Countries>>>>>")
for row in cursor:
    print("Country_id = ", row[0])
    print("Country_name = ", row[1])
    print("Language_id = ", row[2])
print("-------------------------------------------\n")

# Extract data from Maintenance
cursor = conn.execute("SELECT Action_id, Action_type, Cost, Description, Date, Vehicle_id from Maintenance")
print("\t<<<<<Maintenance>>>>>")
for row in cursor:
    print("Action_id = ", row[0])
    print("Action_type = ", row[1])
    print("Cost = ", row[2])
    print("Description = ", row[3])
    print("Date = ", row[4])
    print("Vehicle_id = ", row[5])
print("-------------------------------------------\n")

# Extract data from Locations
cursor = conn.execute("SELECT Location_id, Name, City, Street_number, Type from Locations")
print("\t<<<<<Locations>>>>>")
for row in cursor:
    print("Location_id = ", row[0])
    print("Name = ", row[1])
    print("City = ", row[2])
    print("Street_number = ", row[3])
    print("Type = ", row[4])
print("-------------------------------------------\n")

# Extract data from Booking
cursor = conn.execute("SELECT Booking_id, Ref_number, Start_trip, End_trip, Start_odometer, End_odometer, Location_pickup, Location_dropoff from Booking")
print("\t<<<<<Booking>>>>>")
for row in cursor:
    print("Booking_id = ", row[0])
    print("Ref_number = ", row[1])
    print("Start_trip = ", row[2])
    print("End_trip = ", row[3])
    print("Start_odometer = ", row[4])
    print("End_odometer = ", row[5])
    print("Location_pickup = ", row[6])
    print("Location_dropoff = ", row[7])
print("-------------------------------------------\n")

# Extract data from Officials
cursor = conn.execute("SELECT Official_id, Name, Role, Country_id, Language_id from Officials")
print("\t<<<<<Officials>>>>>")
for row in cursor:
    print("Official_id = ", row[0])
    print("Name = ", row[1])
    print("Role = ", row[2])
    print("Country_id = ", row[3])
    print("Language_id = ", row[4])
print("-------------------------------------------\n")

# Extract data from Drivers
cursor = conn.execute("SELECT Driver_id, Name, License_number, Clearance_level, FATL_level, FATL_date, STLVT_level, STVLT_date from Drivers")
print("\t<<<<<Drivers>>>>>")
for row in cursor:
    print("Driver_id = ", row[0])
    print("Name = ", row[1])
    print("License_number = ", row[2])
    print("Clearance_level = ", row[3])
    print("FATL_level = ", row[4])
    print("FATL_date = ", row[5])
    print("STLVT_level = ", row[6])
    print("STVLT_date = ", row[7])
print("-------------------------------------------\n")

# Extract data from Booking_info
cursor = conn.execute("SELECT Info_id, Driver_id, Vehicle_id, Official_id from Booking_info")
print("\t<<<<<Booking_info>>>>>")
for row in cursor:
    print("Info_id = ", row[0])
    print("Driver_id = ", row[1])
    print("Vehicle_id = ", row[2])
    print("Official_id = ", row[3])
print("-------------------------------------------\n")

	<<<<<Vehicles>>>>>
Vehicle_id =  1
Registration_id =  ABC123
Manufacturer =  Toyota
Model =  Camry
Color =  Red
Odometer =  50000
Passanger_capacity =  5
Availability =  1
Vehicle_id =  2
Registration_id =  DEF456
Manufacturer =  Honda
Model =  Accord
Color =  Blue
Odometer =  60000
Passanger_capacity =  4
Availability =  1
Vehicle_id =  3
Registration_id =  GHI789
Manufacturer =  Ford
Model =  Mustang
Color =  Yellow
Odometer =  40000
Passanger_capacity =  2
Availability =  0
-------------------------------------------

	<<<<<Languages>>>>>
Language_id =  1
Language_code =  EN
Language_id =  2
Language_code =  FR
Language_id =  3
Language_code =  DE
Language_id =  4
Language_code =  KR
-------------------------------------------

	<<<<<Countries>>>>>
Country_id =  1
Country_name =  USA
Language_id =  1
Country_id =  2
Country_name =  France
Language_id =  2
Country_id =  3
Country_name =  Germany
Language_id =  3
Country_id =  4
Country_name =  Korea
Language_id =  4
-------------------------------------------

	<<<<<Maintenance>>>>>
Action_id =  1
Action_type =  Oil Change
Cost =  50.0
Description =  Performed regular oil change
Date =  2023-10-10
Vehicle_id =  1
Action_id =  2
Action_type =  Tire Rotation
Cost =  30.0
Description =  Rotated tires for even wear
Date =  2023-09-15
Vehicle_id =  2
Action_id =  3
Action_type =  Brake Inspection
Cost =  20.3
Description =  Inspected brake system for wear
Date =  2023-10-05
Vehicle_id =  3
-------------------------------------------

	<<<<<Locations>>>>>
Location_id =  1
Name =  Airport
City =  New York
Street_number =  123 Main St
Type =  Airport
Location_id =  2
Name =  Downtown
City =  Paris
Street_number =  456 Rue de la Ville
Type =  City
Location_id =  3
Name =  Train Station
City =  Berlin
Street_number =  789 Bahnhofstraße
Type =  Train Station
-------------------------------------------

	<<<<<Booking>>>>>
Booking_id =  1
Ref_number =  123456
Start_trip =  2023-10-20
End_trip =  2023-10-25
Start_odometer =  50000
End_odometer =  55000
Location_pickup =  1
Location_dropoff =  2
Booking_id =  2
Ref_number =  789012
Start_trip =  2023-11-01
End_trip =  2023-11-05
Start_odometer =  60000
End_odometer =  65000
Location_pickup =  2
Location_dropoff =  3
Booking_id =  3
Ref_number =  345678
Start_trip =  2023-10-15
End_trip =  2023-10-18
Start_odometer =  40000
End_odometer =  42000
Location_pickup =  3
Location_dropoff =  1
-------------------------------------------

	<<<<<Officials>>>>>
Official_id =  1
Name =  John Smith
Role =  Manager
Country_id =  1
Language_id =  1
Official_id =  2
Name =  Jean Dupont
Role =  Supervisor
Country_id =  2
Language_id =  2
Official_id =  3
Name =  Hans Müller
Role =  Coordinator
Country_id =  3
Language_id =  3
Official_id =  4
Name =  Kim Tang
Role =  Manager
Country_id =  4
Language_id =  4
-------------------------------------------

	<<<<<Drivers>>>>>
Driver_id =  1
Name =  Michael Johnson
License_number =  1234567890
Clearance_level =  3
FATL_level =  2
FATL_date =  2023-09-01
STLVT_level =  1
STVLT_date =  2023-08-15
Driver_id =  2
Name =  Pierre Leclerc
License_number =  9876543210
Clearance_level =  2
FATL_level =  1
FATL_date =  2023-07-01
STLVT_level =  2
STVLT_date =  2023-06-15
Driver_id =  3
Name =  Klaus Schmidt
License_number =  5678901234
Clearance_level =  1
FATL_level =  None
FATL_date =  None
STLVT_level =  3
STVLT_date =  2023-05-15
-------------------------------------------

	<<<<<Booking_info>>>>>
Info_id =  1
Driver_id =  1
Vehicle_id =  1
Official_id =  1
Info_id =  2
Driver_id =  1
Vehicle_id =  1
Official_id =  1
Info_id =  3
Driver_id =  1
Vehicle_id =  1
Official_id =  1
Info_id =  1
Driver_id =  1
Vehicle_id =  2
Official_id =  1
Info_id =  2
Driver_id =  1
Vehicle_id =  2
Official_id =  1
Info_id =  3
Driver_id =  1
Vehicle_id =  2
Official_id =  1
Info_id =  1
Driver_id =  2
Vehicle_id =  1
Official_id =  2
Info_id =  2
Driver_id =  2
Vehicle_id =  1
Official_id =  2
Info_id =  3
Driver_id =  2
Vehicle_id =  1
Official_id =  2
Info_id =  1
Driver_id =  2
Vehicle_id =  2
Official_id =  2
Info_id =  2
Driver_id =  2
Vehicle_id =  2
Official_id =  2
Info_id =  3
Driver_id =  2
Vehicle_id =  2
Official_id =  2
Info_id =  1
Driver_id =  3
Vehicle_id =  1
Official_id =  3
Info_id =  2
Driver_id =  3
Vehicle_id =  1
Official_id =  3
Info_id =  3
Driver_id =  3
Vehicle_id =  1
Official_id =  3
Info_id =  1
Driver_id =  3
Vehicle_id =  2
Official_id =  3
Info_id =  2
Driver_id =  3
Vehicle_id =  2
Official_id =  3
Info_id =  3
Driver_id =  3
Vehicle_id =  2
Official_id =  3
-------------------------------------------

In [8]:
# Step 5: Saving database and closing it
conn.commit()
conn.close()